---
const currentYear = new Date().getFullYear()
---

<footer class="row row--black py-10">
  <section class="py-8">
    <div class="container text-center">
      <p>
        &copy; {currentYear} - Starter Theme for <a href="https://astro.build/">Astro</a>.
      </p>
    </div>
  </section>
</footer>