---
import removeWidows from "../../utils/helpers/removeWidows"
---

<div class="bg-black min-h-screen p-6 md:p-8 lg:p-10 xl:p-14 2xl:p-16 w-screen relative z-20 text-white flex flex-col justify-between">

    <div class="lg:max-w-4xl xl:max-w-5xl 2xl:max-w-7xl">
        <div class="w-content">
            <h1 class="leading-tight tracking-wide text-orange-500 mb-2 font-light text-2xl sm:text-3xl md:text-4xl lg:text-[4vw] xl:text-[3.5vw]">
                {removeWidows('Title here lorem ipsum set amet')}
            </h1>
            <p class="font-light tracking-wide text-2xl sm:text-3xl md:text-4xl lg:text-[4vw] xl:text-[3.5vw] leading-tight">{'A web developer with over 10 years experience building a skillset in UX, accessibility and design with a passion for digital sustainability and online experiences that don\'t cost the planet.'}</p>
            {/* <p class="mt-6 lg:mt-8 font-light tracking-wide text-lg sm:text-xl md:text-2xl xl:text-3xl leading-tight">🇮🇩 Currently remote working in Bali</p> */}
        </div>
    </div>

    <div class="mt-10 pb-4 md:pb-0 flex flex-col-reverse gap-4 md:flex-row lg:gap-4 2xl:gap-6">
        <div>
            <a href="mailto:hello@jaycollett.co" target="_blank" rel="noopener noreferrer" class="w-52 sm:w-60 md:w-auto text-left overflow-hidden h-12 rounded-full border-orange-500 border xl:h-14 2xl:h-16 px-6 2xl:px-7 inline-flex items-center transition hover:bg-white hover:border-white duration-500 hover:text-black text-left relative">
                <span class="z-20 tracking-wide relative inline-block font-normal xl:font-light text-sm sm:text-base xl:text-lg">Email me</span>
            </a>
        </div>
    </div>


</div>