---
import Layout from '../layouts/Layout.astro';
import Accordions from '../components/Accordions/Accordions.astro';
---

<Layout title="Project">
	<main>
		<h1>Project</h1>

		<a href="/">home</a>

		<div class="">
			<div class="container">
				<Accordions
					title={null}
					items={[
						{
							id:"1"
						},
						{
							id:"2"
						},
						{
							id:"3"
						}
					]}
				/>
			</div>
		</div>
	</main>
</Layout>