---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Project">
	<main>
		<h1>Project</h1>
		<a href="/">home</a>
		<p class="instructions">
			Incididunt dolor voluptate duis veniam eiusmod eiusmod tempor duis. Lorem reprehenderit eiusmod sit commodo amet fugiat tempor incididunt est mollit adipisicing et ea. Anim consequat do cupidatat voluptate laboris nulla minim in ea cupidatat occaecat.

Eu aute reprehenderit aute est sint. Culpa pariatur officia dolore officia enim laborum aliquip Lorem. Ad esse laborum sint exercitation. Adipisicing quis nostrud deserunt deserunt aliquip duis reprehenderit proident mollit excepteur. Proident sint reprehenderit eu exercitation ipsum id tempor est incididunt ullamco incididunt.

Do irure commodo incididunt tempor velit labore cupidatat id irure aliqua pariatur. Proident dolore eiusmod ut irure enim laboris qui mollit reprehenderit aliqua reprehenderit. Veniam laborum minim culpa elit et ullamco nulla exercitation consectetur magna enim laborum est commodo. Et ipsum consectetur anim in sint labore enim quis eiusmod sit esse consectetur. Esse cillum tempor voluptate sunt sint laborum voluptate magna est qui. Veniam fugiat in do velit commodo culpa ex tempor elit ad ut. Ex id sint sit nisi ad ad exercitation id officia non mollit esse est adipisicing.
		</p>
	</main>
</Layout>