---
// export interface Props {
// 	title: string;
// 	body: string;
// 	href: string;
// }

const { href, title, body } = Astro.props;
---

<li class="bg-white rounded-md p-6 shadow border border-gray-200">
	<button data-button>Click me for alert</button>
	<a href={href}>
		<h2 class="text-xl font-bold mb-2">
			{title}
			<span>&rarr;</span>
		</h2>
		<p>
			{body}
		</p>
	</a>
</li>


<script>
	const buttons = document.querySelectorAll('[data-button]')
	buttons.forEach((button) => {
		button.addEventListener('click', () => alert('clicked button'));
	});
</script>