---
import { useSanityClient } from "astro-sanity"

export async function getStaticPaths() {
    // get all projects
    const projects = await useSanityClient().fetch(`*[_type == "project"]`)

    // Loop over projects and find the one that matches this slug
    return projects.map((project) => {
        return {
            params: {
                slug: project?.slug?.current,
            },
            props: project,
        };
    });
}

const {
    title,
    completed,
    slug,
    partner,
    url,
    tags
} = Astro.props;
---

<h1>{title}</h1>
<p>
    <a href={`/projects`}>Back to all projects</a>
</p>
